.search-container{
    position: relative;
    width: calc(100% - 20px);
    max-width: 480px;
    border-radius: 40px;
    padding : 10px;
    box-sizing: border-box;
    background-color: rgba(192,192,192,0.3);
    margin: 10px;
   } 
    .search-bar{
      border:none;
      background: none;
      outline: none;
      font-size:18px;
      color: black;
      line-height: 1em;
      padding: .5em;
      width: 100%;
      padding-right:70px;
      box-sizing: border-box;
  
     }
  
   .search-icon{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-30%);
    width: 75px;
    height: 75px;
    margin-top: -15px;
      
    }
  
    @media screen and (min-width: 500px){
      .search-container{
        margin: 10px auto;
      }
    }