.popup{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 80vw;
    height:80vh;
    text-align:center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
  .popup .cta{
      margin: 1em;
  }
 
 
 .close{
 display:none;
 
 }
 
.popup h3{
    font-size: 30px;
} 
