.popup{
   position:fixed;
   width: calc(100%-10em);
   height:calc(100%-8em);
   padding-top: 8em;
   top:8em;
   bottom:8em;
   left: 10em;
   right: 10em;
   text-align:center;
   border-radius: 5em;
   font-family: Questrial;
}
.popup h3{
    font-size: 30px;
} 
.popup button:hover{
    transform: skew(-10deg);
    
} 

.popup h3{
    font-family: questrial;
}
.close{
display:none;

}
