.DisplayRecette {
    background-image: url('recettefond.jpg');
    background-size: cover;
    height: 150vh; 
}

/*Spotify */

button.Spotify {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: flex-start;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(114, 119, 113, 0.39);
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

div img.spotify-logo{
    height: 40px;
    padding-top: 0px;
    padding-left: 0px;
}

p.description{
    padding-top:5px;
    height: 0px;
}

/*Popup*/
.recette_close .bottom-info{
    display:none;
}
.recette_open .bottom-info{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 25%;
    background: white;
    width: auto;
    height: 50vh;
    padding: 10% 5% 10% 5%;
  }

  /*.recette_open .front {
      background: white;
      width: auto;
      height: auto;
      padding: 3% 10% 3% 10%;
  }*/

/**/

/*Backboutton*/

.boutonretour {
    display: flex;
    
}


.container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 1em;
}

.imgrecette img {
    display: flex;
    margin: auto;
    width: auto;
    height: 300px;
}


.flex-container {
    height: auto;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(255, 255, 255, 1);
}

.Alcoholic {
    border-style: solid;
    border-color: #8c0f00;
    border-width: 2px;
    border-radius: 5px;
    color: #8c0f00;
    font-weight: bold;
    margin: auto;
    float: left;
}

div.description{
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline;
    
}

h2.titre {
    font-size: 2.3em;
    font-variant: all-small-caps;
    font-weight: bold;
    margin-top: 0px;
    font-weight: bold;
}

.Categorie {
    border-style: solid;
    border-color: #674109;
    border-width: 2px;
    border-radius: 5px;
    color: #674109;
    font-weight: bold;
    margin: auto;
    float: left;
}

p.information {
    text-align: justify; 
}


ul .ingredient{
    font-size: 0.8em;
}

.bottom-info h3.sous-titre {
    padding-top: 30px;
}

@media screen and (min-width: 610px){
    .recette_open .bottom-info{
        width: auto;
      }
    
      /*.front {
          background: white;
          width: auto;
          height: auto;
          padding: 3% 10% 3% 10%;
      }*/

}

@media screen and (min-width: 835px){
    .DisplayRecette {
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.container {
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: center;
    }

    .open .container {
        display: flex;
        flex-flow: nowrap;
        align-content: center;
    }

    .imgrecette img {
        width: auto;
        height: 300px;
        
    }


    .flex-container {
        height: 413px;
        width: 400px;
        padding-top: 20px;
    }
    

    /*Popup close*/
    .recette_close .bottom-info{
        display: none;
      }

    /*Popup open*/
    .recette_open .bottom-info{
        position: absolute;
        left: 10%;
        right: 10%;
        top: 5%;
        bottom: 25%;
    }

      

}

@media screen and (min-width: 1150px){
    .imgrecette img {
        width: auto;
        height: 450px;
    }
    .flex-container {
        padding-left: 50px;
        padding-right: 50px;
     }

}