.DisplayRecette {
    background-image: url('recettefond.jpg');
    background-size: cover;
    height: 150vh; 
}


.container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 1em;
}

.imgrecette img {
    display: flex;
    margin: auto;
    margin-top: 5em;
    width: auto;
    height: 300px;
}

.Spotify {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(8, 8, 8, 0.38);
    color: white;
    font-weight: bold;
}

.flex-container {
    height: 417.5px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    text-align: justify;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
}

.Alcoholic {
    border-style: solid;
    border-color: #8c0f00;
    border-width: 2px;
    border-radius: 5px;
    color: #8c0f00;
    font-weight: bold;
    margin: auto;
    margin-top: -20px;
    float: left;
}

.Categorie {
    border-style: solid;
    background-color: green; 
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: auto;
    margin-top: -20px;
    float: left;
}

.sous-titre {
    font-weight: bold;
}

h2.titre {
    font-size: 2.3em;
    font-variant: all-small-caps;
    font-weight: bold;
}

ul .ingredient{
    margin-top: -8px;
    font-size: 1em;
}
@media screen and (min-width: 835px){
    .DisplayRecette {
        height: 100vh; 
    }
    .container {
        display: flex;
        flex-flow: nowrap;
        align-content: center;
    }
    .imgrecette img {
        margin-top: 7.5em;
        margin-left: 100px;
        width: auto;
        height: 300px;
        
    }

    .flex-container {
       margin-top: 120px;
       margin-right: 100px;
    }
    
}

@media screen and (min-width: 1150px){
    .imgrecette img {
        width: auto;
        height: 450px;
        margin-left: 150px;
    }
    .flex-container {
        margin-right: 150px;
        padding-left: 50px;
        padding-right: 50px;
     }

}