/****version Mobile****/
.Home-title{
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-top: 20%;
    left:50%;
    font-family: 'Questrial', sans-serif;
    
}
.general-background{
    position: relative;
    background-image: url(https://i.goopics.net/RGqmZ.jpg);
    background-size: cover;
    height: 100vh;  
  }

.home-boutons {
    margin-top: 150px;;  
}

.home-button{
    display: inline-block;
    font-size: 20px;
    border-radius:40px;
    background-color: white ;
    color:black;
    letter-spacing:1px;
    font-weight:bold;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    width: 200px;
    text-align: center;
}



    /*logo*/

.logos{
    animation: App-logo-spin infinite 3s linear;
    height: 25vmin;
    margin-top: 0px; 
    }
    @keyframes App-logo-spin {
        from {
        transform: rotate(-5deg);
        }
        to {
        transform: rotate(5deg);
        }
        }






    
/****version Desktop****/
@media screen and (min-width: 870px){
    .Home-title{
        font-size: 60px;
        padding-top: 10%;
    }
    .Bouton-cocktail{
        margin-left: 30px;
        height: 85px;
        width: 270px;
    }

    .Bouton-ingredient{
        margin-top: 28px;
        margin-right: 30px;
        height: 85px;
        width: 270px;
    }
    .home-bouton {
        display: flex;
        justify-content: center;  
    }

        /*logo*/

    .logos{
        animation: App-logo-spin infinite 3s linear;
        height: 30vmin;
        position: absolute;
        margin-top:-10px;
        left : 50px; 
        }
        
        
  
    } 


