 /*Style icon*/

 @font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?npd9ee');
    src:  url('fonts/icomoon.eot?npd9ee#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?npd9ee') format('truetype'),
      url('fonts/icomoon.woff?npd9ee') format('woff'),
      url('fonts/icomoon.svg?npd9ee#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-drink:before {
    content: "\e900";
  }
  .icon-home:before {
    content: "\e901";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-shop:before {
    content: "\e902";
  }
  

/*Style Navigation*/


header{
    max-width: 100%;
}

.menu_bar nav{
    display: none;
}

.menu_bar_open nav {
    width: 300px;
    height:100%;
    position: fixed;
    background-color: black;
}

/*le header ouvert se place tout en haut à droite*/
header .menu_bar_open{
    margin-top: auto;
    margin-right: auto;
    position: fixed;
    right: 40px;
}
/*icon-menu se positionne en haut à droite*/
.menu_bar_open span {
    padding-top: 20px;
    font-size: 30px;
    color: white;
    position: fixed;
    z-index: 2;
}
/* le nav ouvert*/
header .menu_bar_open nav{
    right: 0;
}   

/*le menu fermé*/
.menu_bar{
    display:block;
    font-size: 30px;
    float: right;
    padding-top:40px;
    padding-right: 40px;
}

.menu_bar nav ul {
    list-style: none;
}

.menu_bar_open ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left:0px;
}

.menu_bar_open nav  li  a {
    color: white;
}

.menu_bar_open li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    
}

.menu_bar_open nav ul li a:hover {
    background: orange;
}

@media screen and (max-width: 500px){
    .menu_bar_open{
        left: 0px;
    }
    .menu_bar_open nav{
        left: 0;
    } 
   
    .menu_bar {
        float: left;
    }
    .menu_bar_open span {
        padding-top: 10px;
        padding-left: 10px;
    }
}

