/***version smartphone***/


.ingredient-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: center;
}
 
.ingredient{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.ingredient-container{
    width: 100%;
    background-color: #FFF;
    height: 200px;
    display:flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container{
    width: 40%;
}

.ingredient-container .image{
    display: block;
    max-width: 100%;
}

.ingredient-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 60%;
}

.ingredient-name{
    font-family: Libre Baskerville;
    font-size: 25px;
    margin:10px 0;
}



/***version tablette***/

@media screen and (min-width: 500px){
    .ingredient{
        width:50%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    

}


/***version desktop***/
@media screen and (min-width:960px){
    .ingredient-list{
        max-width: 1100px;
        margin: 0 auto;
    }

    .ingredient{
        width:33.3%;
    }
}