/***version smartphone***/
.page{
    background-image: url(https://i.goopics.net/3AP7Q.jpg
    );
    background-size: cover;  
    position: ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.ingredient-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    padding-top: 10vh;
    margin:0px;
    overflow-y: scroll;
    height: 100%;
    padding-top:0vh;
}
 
.ingredient{
    margin:10px 0;
    padding-right:10px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
}

.nameingredient{
    font-family: Libre Baskerville;
    font-size: 20px;
    top:5px;
    margin-top: 10px;
}

.image{
    margin-top:16px;
    height: 120px;
    width: 120px;
}

.imagetexte{

    background-color: rgba(240, 248, 255, 0.616);
    width: 150px;
    height: 200px;
    font-family: Libre baskerville;
    border-radius: 15px;
}

h1{
    font-family: Questrial;
    font-size: 30px;
    margin-top: 65px;
    margin-bottom: 70px;
    letter-spacing: 10px;
}
/***version tablette***/

@media screen and (min-width: 500px){
    .h1{
        font-size:38px;
    }

    .image{
        width: 100px;
        height: 100px;
    }
    .nameingredient{
        font-size: 20px;
        top: 5px;
        margin-bottom: 15px;
    }
    .ingredient{
        width:33.3%;
    }
    .imagetexte{
        width:150px;
        height: 200px;
    }
}

/***version desktop***/
@media screen and (min-width:950px){
    .h1{
        font-size:45px;
    }
    .image{
        width:100px;
        height:100px;
    }
    .nameingredient{
        font-size: 20px;
        top: 5px;
        margin-top:15px;

    }
    .ingredient{
        width:20%;
    }
    .imagetexte{
        width:150px;
        height: 200px;
    }
}